body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(../img/Conta/background.webp);
    background-size: 120%;
    padding: 48px 28px;
    color: var(--cor-texto);
    font-size: 14px;
}
header section{
    z-index: 10000;
}
header .return{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
}
header .return img{
    cursor: pointer;
}

header .profile{
    height: 180px;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
header .profile .icon{
    height: 130px;
    background-color: #C4C4C4;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0.1em 0.01em #8f8f8f;
}
header .profile .addIcon{
    position: absolute;
    background-color: var(--cor-iconHome);
    padding: 6px;
    border-radius: 50%;
    left: 240px;
    transition: .2s;
}
.addIcon:hover{
    transform: scale(.9);
}


main{
    background-color: white;
    width: 100vw;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 38px 26px;
    gap: 86px;
}
main section{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
main div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 4px;
    border-bottom: 1.6px solid #999999;
}
main p{
    font-size: 12px;
    color: #999999;
}
main h2{
    font-size: 14px;
}

.white{
    position: absolute;
    background-color: white;
    height: 50px;
    width: 100vw;
    border-radius: 24px;
    top: 280px;
    left: 0px;
}
