body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 96vh;
}

header{
    background-image: url(../img/Conta/background.webp);
    background-size: cover;
    padding: 48px 28px;
    color: var(--cor-texto);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    height: 26.7vh;
}
header .return{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .profile{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1000;
}
header .profile .icon{
    background-color: white;
    border-radius: 50%;
    box-shadow: 0.1em 0.01em #8f8f8f;
    position: absolute;
    height: 111px;
    width: 111px;
}
header .profile .editIcon{
    background-color: var(--cor-iconHomeHover);
    height: 33px;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    top: 76px;
    left: -30px;
    transition: .4s;
}
header .profile .editIcon:hover{
    transform: scale(.9);
}

.white{
    background-color: white;
    width: 100vw;
    height: 52px;
    position: absolute;
    left: 0;
    top: 190px;
    border-radius: 32px 32px 0px 0px ;

/*     
    top: 170px;
    border-radius: 36px 36px 0px 0px; */
}
main{
    display: flex;
    flex-direction: column;
    gap: 58px;
    height: 55vh;
}
main .identification{
    height: 50px;
    display: grid;
    justify-content: center;
}
main .identification p{
    display: flex;
    justify-content: center;
    color: #AEA6A6;
}
main .information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
main .content{
    border: 1.6px solid #e9c9ab;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    gap: 12px;
    height: 74px;
    width: 323px;
}
main .content div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
main .content div p{
    color: #999999;
    font-size: 14px;
}
main .content div h3{
    font-size: 14px;
}
main .content .image{
    background-color: #F4E2D1;
    border-radius: 50%;
    padding: 10px;
}
.part1{
    display: grid;
    text-align: center;
}
.part1 p{
    color: #AEA6A6;
}
footer{
    display: flex;
    justify-content: center;
}
.botaoPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}