*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}
input{
    border: none;
    background-color: rgb(255, 255, 255, .0);
}
input:focus{
    box-shadow:  0 0 0 0;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}